<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Add processor to logger, to add some more util info -->
    <type name="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="bydn_improved_logger_extra_info" xsi:type="object">Bydn\ImprovedLogger\Processor\Extrainfo</item>
            </argument>
        </arguments>
    </type>

    <!-- Add log handler to send alerts (this does not work with a parameter definition because it removes other handles) -->
    <type name="Magento\Framework\Logger\Monolog">
        <plugin name="bydn_improved_logger_add_handler" type="Bydn\ImprovedLogger\Plugin\Magento\Framework\Logger\Monolog" />
    </type>

</config>
