<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bydn_utils" translate="label" sortOrder="2600">
            <label>Utilities (by DN)</label>
        </tab>
        <section id="bydn_improved_logger" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Improved Logger</label>
            <tab>bydn_utils</tab>
            <resource>Bydn_ImprovedLogger::config</resource>
            <group id="log_files" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Log files extra info</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable extra info</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Allows to add useful info to the log entries (enable and see below)</comment>
                </field>
                <field id="ip_addresses" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add IP info</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Add Server IP, Remote IP and Client IP to the log entries</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="browser_url" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add browser URL</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Add the current URL to the log entry</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="controller_info" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add controller info</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Add request module, controller and action name to the log entries</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="trace_info" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add caller info</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Add caller info (which file and line generates the log) to the log entries. Activating this may cause a little performance overhead if you have thousands of log entries (think around 5 ms extra per log call)</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="email" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email notifications</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable email notifications</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="email" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notification email</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="exceptions" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send all exception.log records by email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="telegram" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Telegram notifications</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable telegram notifications</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="token" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Telegram API token</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="chat_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Telegram chat ID</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="exceptions" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send all exception.log records by telegram</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
